---
title: about
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>about me</h2>
</div>

<main class="tags-content">

    <ul class="tags-list">
	
       
		<div>
        <li>
            <span class="tag-name" >{{site.aboutme}}</span>
          
        </li>
        
        </div>
        
    </ul>
</main>
    
{% include footer.html %}